html{
	height: 100%;
}
body{
	height: 100%;
	background: #E1F5FF;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: white;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}
canvas {
	vertical-align: middle !important;
}
body a {
	color: white;
	text-decoration: none;
}
#ThreeJScontainer {
	position: relative;
	width: 90%;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
}
.perspective canvas, #perspective {
	transform: scaleX(-1);
}
/* -- Helpers -- */

/* Use this class whenever body unselectable doesn't work */
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.clear {
	clear: both;
}

/* -- Menu --  */
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	height: 100%;
	float: left;
	background: #C2E9F9;
}
#menu a {
	display: block;
	width: 80%;
	padding-top: 77%;
	position: relative; 
	margin:0 10% 5px 10%;
}

#cube, #erase, #base, #settings, #colors {
	background-image: url('../img/Ikoner.png');
	background-size: 200%;
}
#cube.chosen {
	background-position: 0 0;
}
#cube {
	background-position: 100% 0;
}

.color-E60012, .color-F39800, .color-8FC31F, .color-009944, .color-009E96,
.color-00A0E9, .color-0068B7, .color-601986, .color-7F3E09, .color-F7C6EB,
.color-BE0081, .color-FDE3C5, .color-E27BFE, .color-E5004F, .color-C6FFF0,
.color-FED06F, .color-000000, .color-FFFFFF, .color-random{
	background-image: url('../img/cube_colors.png') !important;
}
/* orange */
.color-F39800{
	background-position: 100% 5.55% !important;
}
.color-F39800.chosen{
	background-position: 0% 5.55% !important;
}
/* bright green */
.color-8FC31F{
	background-position: 100% 11.1% !important;
}
.color-8FC31F.chosen{
	background-position: 0% 11.1% !important;
}
/* green */
.color-009944{
	background-position: 100% 16.65% !important;
}
.color-009944.chosen{
	background-position: 0% 16.65% !important;
}
/* green blue */
.color-009E96{
	background-position: 100% 22.2% !important;
}
.color-009E96.chosen{
	background-position: 0% 22.2% !important;
}
/* blue */
.color-00A0E9{
	background-position: 100% 27.75% !important;
}
.color-00A0E9.chosen{
	background-position: 0% 27.75% !important;
}
/* dark blue */
.color-0068B7{
	background-position: 100% 33.3% !important;
}
.color-0068B7.chosen{
	background-position: 0% 33.3% !important;
}
/* purple */
.color-601986{
	background-position: 100% 38.85% !important;
}
.color-601986.chosen{
	background-position: 0% 38.85% !important;
}
/* brown */
.color-7F3E09{
	 background-position: 100% 44.4% !important;
}
.color-7F3E09.chosen{
	 background-position:00% 44.4% !important;
}
/* bright pink */
.color-F7C6EB{
	background-position: 100% 49.9% !important;
}
.color-F7C6EB.chosen{
	background-position: 0% 49.9% !important;
}
/* bright purple */
.color-BE0081{
	background-position: 100% 55.45% !important;
}
.color-BE0081.chosen{
	background-position: 0% 55.45% !important;
}
/* off white */
.color-FDE3C5{
	background-position: 100% 61% !important;
}
.color-FDE3C5.chosen{
	background-position: 0% 61% !important;
}
/* light purple */
.color-E27BFE{
	background-position-y: 66.55% !important;
}
/* vine red */
.color-E5004F{
	background-position: 100% 72.05% !important;
}
.color-E5004F.chosen{
	background-position: 0% 72.05% !important;
}
/* blue white */
.color-C6FFF0{
	background-position: 100% 77.6% !important;
}
.color-C6FFF0.chosen{
	background-position: 0% 77.6% !important;
}
/* beige */
.color-FED06F{
	background-position: 100% 83.15% !important;
}
.color-FED06F.chosen{
	background-position: 0% 83.15% !important;
}
/* black */
.color-000000{
	background-position: 100% 88.7% !important;
}
.color-000000.chosen{
	background-position: 0% 88.7% !important;
}
/* white */
.color-FFFFFF{
	background-position: 100% 94.25% !important;
}
.color-FFFFFF.chosen{
	background-position: 0% 94.25% !important;
}
/* random */
.color-random{
	background-position: 100% 99.8% !important;
}
.color-random.chosen{
	background-position: 0% 99.8% !important;
}

#erase.chosen  {
	background-position: 0 16.286%;
}
#erase {
	background-position: 100% 16.286%;
}
#base {
	background-position: 0 33.715%;
}
#base.faded  {
	background-position: 100% 33.715%;
}
#settings {
	background-position: 0 67.144%;
}
#settings.faded  {
	background-position: 100% 67.144%;
}
#colors {  
	background-position: 0 49.857%;
}
#colors.faded  {
	background-position: 100%  49.857%;
}

#perspective.chosen-view {
	width: 100px;
	height: 100px;
	background: #E1F5FF no-repeat;
	padding-top: 0;
	margin-left:10%;
	background-size: 100%;
	margin-bottom:5px;
}

/* -- Counter -- */
.counterWrapper {
	width: 150px;
	height: 40px;
	top: 1em;
	position: absolute;
	right: 1em;
	font-weight: 900;
	font-size: 1em;
	text-align: right;
}
#sizePreview {
	cursor: default;
}
.counter p, .counterWrapper a {
	margin: 0 0 2px 2px;
	color:black;
	display: inline;
	position: relative;
	font-size: 2vw;
}

/* -- Modal -- */
.modal {
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.modal > div {
	display: none;
}
.open {
	display: block;
}
.modal .open{
	display: table;
}
.container {
	text-align: center;
	width: 65%;
	margin: auto auto;
	height: 100%;
}
#baseModal, 
#resetConfirmModal, 
#colorsModal, 
#settingsModal,
#perspectiveModal {
	display: table-cell;
	vertical-align: middle;
}
#baseModal > div, 
#resetConfirmModal > div, 
#colorsModal > div, 
#settingsModal > div,
#FormModal > form,
#perspectiveModal > div {
	display: inline-block;
	position: relative;
	margin: 1%;
	width: 40%;
	padding-top: 40%;
	vertical-align: middle;
}
/* -- Settings modal icons/divs -- */
#settingsModal > div  {
	background-image: url('../img/settings-icons.png');
	background-size: 200%;
	border: 2px solid #333;
	border-radius: 40px;
	width: 36%;
	padding-top: 36%;
}
#settingsModal div a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 4vw;
	line-height: 23vw;
}

#settingsModal div a span{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 8vw; 
	vertical-align:bottom;
}

#settingsModal .get {
	background-position:0 0 ;
}
#settingsModal .save {
	background-position:100% 0;
}
#settingsModal .print {
	background-position:0 100%;
}
#settingsModal .help {
	background-position:100% 100%;
}

#perspectiveModal > div {
	padding-top: 0;
	width: 25%;
	padding-bottom:25%;
	border-radius: 5%; 
	background:#C2E9F9; 

}
#confirmdeclinebuttons p {
	font-weight: bold;
	font-size: 2vw;
}
#confirmdeclinebuttons div a {
	display: block;
	height: 27%;
	margin-bottom: 2%;
	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;
	font-size: 2vw;
}
#baseModal div div a, #baseModal div div #sizePreview, #preview {
	display: block;
	height: 25%;
	width: 100%;
	margin-bottom: 8%;
	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;
	font-size: 4vw;
	line-height:5.5vw;
	color: white;
	vertical-align: middle;
	padding-top: 2%;
	font-weight: bold;
}
#preview {
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 40px;
	overflow: hidden;
	padding-top: 0;
	border-left: none;
	border-top: none;
}
#preview canvas{
	border-radius: 40px !important;
	border: 2px solid #333;
}
.innerBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#colorsModal a {
	display:inline-block;
	border: 10px solid #333;
	border-radius: 15px;
	margin: 10px;
	width: 14%;
	padding-top: 14%;
}
.canvasWrapper {
	height:100%;
	width:100%;
	position: absolute;
	left:0;
	border-radius: 5%;
	overflow: hidden;
}

#perspectiveModal .green {
	display:block; 
	margin:0 auto;
}
#perspectiveModal canvas, #preview canvas{
	background: #E1F5FF;
}

/* colors for the view-frames*/

.top, .red, .blue, .yellow, .green {
	border: 10px solid #C2E9F9;
}

.red {
	border-bottom-color: #E60012;
}

.blue {
	border-bottom-color: #0068B7;
}
.yellow {
	border-bottom-color: #F39800;
}
.green {
	border-bottom-color: #009944;
}

#FormModal form input[type="text"], #FormModal form input[type="submit"], #alert{
	display: block;
	height: 25%;
	width: 100%;
	margin-bottom: 8%;
	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;
	font-size: 2vw;
	color: white !important;
	text-align: center;
	vertical-align: middle;
	padding-top: 2%;
	position: relative;
}
#FormModal form input[type="text"]{
	background: #ffffff;
	color: #555 !important;
}

#alert{
	font-size: 1.5vw;
	height: 1.5vw;
	cursor: default;
	padding-bottom: 2%;
}
#alert:empty{
	visibility: hidden;
}

/* Colors for colormodal options */
.color.red {
	background-color:#E60012;
}
.color.orange {
	background-color:#F39800;
}
.color.yellow {
	background-color:#FFF100;
}
.color.lgreen
{
	background-color:#8FC31F;
}
.color.green {
	background-color:#009944;
}
.color.blueGreen {
	background-color:#009E96;
}
.color.lblue {
	background-color:#00A0E9;
}
.color.blue {
	background-color:#0068B7;
}
.color.purple {
	background-color:#601986;
}
.color.brown {
	background-color:#7F3E09;
}
.color.llPink {
	background-color:#F7C6EB;
}
.color.pink {
	background-color:#BE0081;
}
.color.vanilla {
	background-color:#FDE3C5;
}
.color.lPink {
	background-color:#E27BFE;
}
.color.lRed {
	background-color:#E5004F;
}
.color.random {
	background-image: url('../img/random-color.png');
	background-size:contain;
}
.color.turquoise {
	background-color:#C6FFF0;
}
.color.dYellow {
	background-color:#FED06F;
}
.color.black {
	background-color:#000;
}
.color.white {
	background-color:#FFF;
}

/* Smaller devices orientation */
@media (orientation: landscape) and (max-width:1200px) {
	.red, .blue, .green , .top , .yellow {
		border-width:5px;
	}
	#colorsModal a {
		margin: 0;
		border-width:5px;
	}
}

/* Smaller devices border-radius */
@media (max-width:960px) {
	#settingsModal > div, #baseModal div div a, #baseModal div div #sizePreview, #preview {
		border-radius: 20px;
	}
	#preview canvas{
		border-radius: 20px !important;
	}
	#FormModal > form{
		width: 90%;
	}
	#FormModal form input[type="text"], #FormModal form input[type="submit"], #alert{
		font-size: 16px !important;
	}
}

/* Portrait orientation */
@media (orientation: portrait) {
	#colorsModal a {
		margin: 0;
		border-width: 5px;
	}
	#menu {
		width: 100%;
		height: auto;
	}
	#menu a {
		width: 100%;
		height: 100%;
		margin-top: 0;
		padding-top:100%;
	}
	#menu li {
		float: left;
		width: 12%;
		margin-top:5%;
	}
	#ThreeJScontainer {
		width: 100%;
		height: 80%;
	}
	/* Modals */
	.modal {
		border-left: none;
		border-top: 2px solid rgba(0,0,0,0.75);
		left: 0;
		margin-top: 24%;
	}
	.container {
		width: 100%;
	}
	#settingsModal div a {
		line-height: 37vw;
	}
	#settingsModal div a span {
		font-size: 4vw;
		line-height: 9vw; 
	}

	.red, .blue, .green , .top , .yellow {
		border-width:5px;
	}
	#colors {
		top: 50%;
	}
	#baseModal div div a, #baseModal div div #sizePreview, #preview {
		font-size:7vw;
		line-height:10vw;
	}
	.counter p, .counterWrapper a {
		font-size: 5vw;
	}
}
@media print {
	#menu, .counter{
		display: none;
	}
	html, body{
		height: auto;
		background: #ffffff;
	}
	#ThreeJScontainer{
		width: auto;
	}
}