html{
	height: 100%;
}
body{
	margin: 0;
	height: 100%;
	background: #E1F5FF;
	overflow:hidden;
}

#ThreeJScontainer {
	position: relative;
	width: 90%;
	float: left;
	height: 100%;
}


/** -- Menu -- **
 ---------------------------------------------------------------------- */

.chosen {
	border: 5px solid red;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	float: left;
	height: 100%;
	background: #C2E9F9;
}

#menu a {
	display: block;
	width: 100%;
	padding-top: 100%;
	position: relative;
}

.clear {
	clear: both;
}

#menu .buildOption {
	width: 45%;
	height: 45%;
	margin-top: 35%;
	padding-top:45%;
	float: left;
}

#cube, #erase, #base, #settings, #colors, #perspective {
	background-image: url('../img/Ikoner.png');
	background-size: 250%;	
}

#cube {
	background-position: 4% 0;
}
#erase {
	background-position: 102% 0;
}
#base {
	background-position: 0% 198%;
	background-size: 220%;
}
#perspective {
	background-position: 3% 241%;
}
#settings {
	background-position: 93% 50%;
	background-size: 350%;
}
#colors {
	background-position: 93% 96%;
	background-size: 350%;
}

#perspective.chosen-view {
	width: 145px;
	height: 145px;
	padding-top: 0;
	background-position: inherit;
	background-size: 100%;
	background-repeat: no-repeat;
}

/** -- Counter -- **
 ---------------------------------------------------------------------- */

.counter {
	width: 150px;
	height: 40px;
	position: absolute;
	z-index: 5;
	top: 1em;
	right: 1em;
	font-weight: 900;
	font-size: 1em;
}

.counter p {
	margin: 0 0 2px 2px;
	text-align: right;
}


/** -- Modal -- **
 ---------------------------------------------------------------------- */
.modal{
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
	cursor:default;
	z-index: 100;
}

.modal > div {
	display: none;
}

.open {
	display: block;
}

.modal .open{
	display: table;
}

.hidden {
	visibility: hidden;
}

#baseContainer {
	text-align: center;
	width: 90%;
	margin: auto auto;
	height: 100%;
}

#baseModal,
#resetConfirmModal {
	display: table-cell;
	vertical-align: middle;
}

#baseModal > div,
#resetConfirmModal > div  {
	width: 40%;
	padding-top: 40%;
	margin: 1%;
	display: inline-block;
	position: relative;
}

#confirmdeclinebuttons p {
	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 2vw;
}

#confirmdeclinebuttons div a {
	display: block;
	height: 27%;
	margin-bottom: 2%;

	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;

	color: white;
	font-size: 2vw;
}

.chosen {
	display: none;
}

#sizePreview {
	width: 100%;
}
#baseModal div div span {
	color: white;
	font-size: 3vw;
}
#baseModal div div a, 
#baseModal div div #sizePreview {
	display: block;
	height: 27%;
	margin-bottom: 2%;

	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;

	color: white;
	font-size: 6vw;
}

#baseModal > div:first-child > a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-image: url('../img/Ikoner.png');
	background-position: 0% 198%;
	background-size: 220%;

	background-color: #555;
	border: 10px solid #333;
	border-radius: 40px;
}

.innerBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#sizeWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#sizeWrapper a, #sizeWrapper #sizePreview {
	display: block;

	height: 27%;

	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;

	margin-bottom: 2%;

	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 6vw;
}

#colorsContainer {
	text-align: center;
	width: 65%;
	margin: auto auto;
	height: 100%;
}

#colorsModal {
	display: table-cell;
	vertical-align: middle;
}

#colorsModal a {
	display:inline-block;
	border: 10px solid #333;
	border-radius: 15px;
	margin: 10px;
	width: 14%;
	padding-top: 14%;
}

#perspectiveContainer {
	text-align: center;
	width: 65%;
	margin: auto auto;
	height: 100%;
}

#perspectiveModal {
	display: table-cell;
	vertical-align: middle;
}

#perspectiveModal > div {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	width: 25%;
	padding-bottom:25%;
	height: 0;
	margin: 1%;
	background-color: #555;
	border-radius: 5%;
	background:#C2E9F9;
}

.canvasWrapper {
	height:100%;
	width:100%;
	position: absolute;
	left:0;
	border-radius: 5%;
	overflow: hidden; 
}
#perspectiveModal .green {
	display:block; margin:0 auto;
}
/* colors for the view-frames*/ 
.red {
	border:10px solid #E60012;
}
.blue {
	border:10px solid #0068B7;
}
.yellow {
	border:10px solid #F39800;
}
.green {
	border:10px solid #009944;
}
.top {
	border:10px solid #000;
}

/* Colors for colormodal options */
.color.red {
	background-color:#E60012;
}
.color.orange {
	background-color:#F39800;
}
.color.yellow {
	background-color:#FFF100;
}
.color.lgreen 
{
	background-color:#8FC31F;
}
.color.green {
	background-color:#009944;
}
.color.blueGreen {
	background-color:#009E96;
}
.color.lblue {
	background-color:#00A0E9;
}
.color.blue {
	background-color:#0068B7;
}
.color.purple {
	background-color:#601986;
}
.color.brown {
	background-color:#7F3E09;
}
.color.llPink {
	background-color:#F7C6EB;
}
.color.pink {
	background-color:#BE0081;
}
.color.vanilla {
	background-color:#FDE3C5;
}
.color.lPink {
	background-color:#E27BFE;
}
.color.lRed {
	background-color:#E5004F;
}
.color.random {
	bac kground-color:#BE0081;
}
.color.turquoise {
	background-color:#C6FFF0;
}
.color.dYellow {
	background-color:#FED06F;
}
.color.black {
	background-color:#000;
}
.color.white {
	background-color:#FFF;
}


#settingsContainer {
	width: 65%;
	text-align: center;

	margin: auto auto;
	height: 100%;
}

#settingsModal,
#formSaveModal,
#formImportModal {
	/*display:none;*/
	display: table-cell;
	vertical-align: middle;
}

#settingsModal > div {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	width: 40%;
	padding-top: 40%;
	margin: 2%;

	background-color: #555;
	border: 10px solid #333;
	border-radius: 40px;
}

#formSaveModal > div,
#formImportModal > div {
	width: 40%;
	padding-top: 40%;
	margin: 1%;
	display: inline-block;
	position: relative;
}

#formSaveModal *,
#formImportModal * {
	width: 100%;
}

#formSaveModal form label,
#formImportModal form label {
	display: block;
	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 2vw;
}

#formSaveModal form input[type="text"],
#formImportModal form input[type="text"] {
	width: 70%;
}

#formSaveModal form input[type="submit"],
#formImportModal form input[type="submit"] {
	width: 20%;
} 

#settingsModal div a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto auto;

	color: white;
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 4vw;
	line-height: 23vw;
}

/* Smaller devices orientation */
@media (orientation: landscape) and (max-width:1200px) {
	.red, .blue, .green , .top , .yellow {
		border-width:5px;}
}

/* Portrait orientation */

@media (orientation: portrait) {
 #menu {
  width: 100%;
  height: auto;
 }

 #menu li {
  float: left;
  width: 12%;
  margin-top: 12%;
 }

 #ThreeJScontainer {
  width: 100%;
 }

 /* Modals */
 .modal {
  border-left: none;
  border-top: 2px solid rgba(0,0,0,0.75);
  left: 0;
  margin-top: 24%;
 }

 #settingsContainer, #perspectiveContainer, #colorsContainer {
  width: 100%;
 }

 #settingsModal div a {
  line-height: 38vw;
 }
 
 /* perspectives */
 .red, .blue, .green , .top , .yellow {
  border-width:5px;
 }

 #colors {
  top: 50%;
 }
}