html{
	height: 100%;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	height: 100%;
	background: #E1F5FF;
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: white;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body a {
	color: white;
	text-decoration: none;
}
#ThreeJScontainer {
	float: left;
	width: 80%;
	height: 100%;
}
#perspective.modalOption.chosen-view{
	display: none;
}
/* -- Helpers -- */

/* Use this class whenever body unselectable doesn't work */
.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.clear {
	clear: both;
}

/* -- Menu --  */
#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	float: left;
	height: 100%;
	background: #C2E9F9;
}
#menu a {
	display: block;
	width: 80%;
	padding-top: 77%;
	position: relative; 
	margin:0 10%;
	margin-bottom:5px;
}

#cube, #erase, #base, #settings, #colors {
	background-image: url('../img/Ikoner.png');
	background-size: 200%;
}
#cube.chosen {
	background-position: 0 0;
}
#cube {
	background-position: 100% 0;
}

#erase.chosen  {
	background-position: 0 16.286%
}
#erase {
	background-position: 100% 16.286%;
}
#base {
	background-position: 0 33.715%;
}
#base.faded  {
	background-position: 100% 33.715%;
}
#settings {
	background-position: 0 67.144%;
}
#settings.faded  {
	background-position: 100% 67.144%;
}
#colors {  
	background-position: 0 49.857%;
}
#colors.faded  {
	background-position: 100%  49.857%;
}
#perspective.chosen-view {
	width: 100%;
	height: 138px;
	padding-top: 0;
	margin-left:10%;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom:5px;
}
#perspectiveModal > div {
	display: inline-block;
	position: relative;
	margin: 1%;
	padding-top: 0;
	width: 25%;
	padding-bottom: 25%;
	background-color: #555;
	border-radius: 5%;
	background: #C2E9F9;
}
.canvasWrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	border-radius: 5%;
	overflow: hidden;
}
#perspectiveModal2 .perspective {
/* display: block; */
	width: 80%;
	padding-top: 100%;
	position: relative;
	margin: 0;
	/* margin-bottom: 5px; */
	display: block;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
/* -- Counter -- */
.counter {
	width: 150px;
	height: 40px;
	position: absolute;
	top: 1em;
	right: 1em;
	font-weight: 900;
	font-size: 1em;
	text-align: right;
}
.counter p {
	margin: 0 0 2px 2px;
	color:black;
}

/* -- Modal -- */
.modal {
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.modal > div {
	display: none;
}
.open {
	display: block;
}
.modal .open{
	display: table;
}
.size-auto{
	width: 80%;
}
.container {
	text-align: center;
	width: 65%;
	margin: auto auto;
	height: 100%;
}
#perspectiveContainer2 {
	background-color: #C2E9F9;
	height: 100%;
	width: 10%;
	float:right;
}
#baseModal, 
#resetConfirmModal, 
#colorsModal, 
#settingsModal,
#perspectiveModal {
	display: table-cell;
	vertical-align: middle;
}
#baseModal > div, 
#resetConfirmModal > div, 
#colorsModal > div, 
#settingsModal > div,
#FormModal > form,
#perspectiveModal > div {
	display: inline-block;
	position: relative;
	margin: 1%;
	width: 40%;
	padding-top: 40%;
	vertical-align: middle;
}
#settingsModal > div {
	vertical-align: none;
	background-color: #555;
	border: 10px solid #333;
	border-radius: 40px;
	width: 36%;
	padding-top: 36%;
}
#perspectiveModal > div {
	padding-top: 0;
	width: 25%;
	padding-bottom:25%;
	background-color: #555; 
	border-radius: 5%; 
	background:#C2E9F9; 

}
#perspectiveModal2 {
	padding-top: 30%;
}
#confirmdeclinebuttons p {
	font-weight: bold;
	font-size: 2vw;
}
#confirmdeclinebuttons div a {
	display: block;
	height: 27%;
	margin-bottom: 2%;
	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;
	font-size: 2vw;
}
#baseModal div div a, #baseModal div div #sizePreview, #preview {
	display: block;
	height: 25%;
	width: 100%;
	margin-bottom: 8%;
	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;
	font-size: 4vw;
	color: white;
	vertical-align: middle;
	padding-top: 2%;
}
#preview {
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 40px;
	overflow: hidden;
	padding-top: 0;
}
.innerBox {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#colorsModal a {
	display:inline-block;
	border: 10px solid #333;
	border-radius: 15px;
	margin: 10px;
	width: 14%;
	padding-top: 14%;
}
.canvasWrapper2 {
}
#perspectiveModal .green {
	display:block; 
	margin:0 auto;
}
/* colors for the view-frames*/
.red {
	border:10px solid #E60012;
}
.blue {
	border:10px solid #0068B7;
}
.yellow {
	border:10px solid #F39800;
}
.green {
	border:10px solid #009944;
}
.top {
	border:none;
}
#FormModal form input[type="text"]{
	width: 70%;
}
#FormModal form input[type="submit"]{
	width: 20%;
}
#settingsModal div a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 4vw;
	line-height: 23vw;
}

/* Colors for colormodal options */
.color.red {
	background-color:#E60012;
}
.color.orange {
	background-color:#F39800;
}
.color.yellow {
	background-color:#FFF100;
}
.color.lgreen
{
	background-color:#8FC31F;
}
.color.green {
	background-color:#009944;
}
.color.blueGreen {
	background-color:#009E96;
}
.color.lblue {
	background-color:#00A0E9;
}
.color.blue {
	background-color:#0068B7;
}
.color.purple {
	background-color:#601986;
}
.color.brown {
	background-color:#7F3E09;
}
.color.llPink {
	background-color:#F7C6EB;
}
.color.pink {
	background-color:#BE0081;
}
.color.vanilla {
	background-color:#FDE3C5;
}
.color.lPink {
	background-color:#E27BFE;
}
.color.lRed {
	background-color:#E5004F;
}
.color.random {
	background-color:#BE0081;
}
.color.turquoise {
	background-color:#C6FFF0;
}
.color.dYellow {
	background-color:#FED06F;
}
.color.black {
	background-color:#000;
}
.color.white {
	background-color:#FFF;
}

/* Smaller devices orientation */
@media (orientation: landscape) and (max-width:1200px) {
	.red, .blue, .green , .top , .yellow {
		border-width:5px;
	}
	#colorsModal a {
		margin: 0;
		border-width:5px;
	}
	#perspective {
		display: inherit;
	}
}
@media (max-width: 920px){
	#perspective.modalOption.chosen-view {
		display: inherit;
	}
}
/* Portrait orientation */
@media (orientation: portrait) {
	#colorsModal a {
		margin: 0;
		border-width: 5px;
	}
	#menu {
		width: 100%;
		height: auto;
	}
	#menu a {
		width: 100%;
		height: 100%;
		margin-top: 0;
		padding-top:100%;
	}
	#menu li {
		float: left;
		width: 12%;
		margin-top:5%;
	}
	#ThreeJScontainer {
		width: 100%;
	}
	/* Modals */
	.modal {
		border-left: none;
		border-top: 2px solid rgba(0,0,0,0.75);
		left: 0;
		margin-top: 24%;
	}
	.container {
		width: 100%;
	}
	#settingsModal div a {
		line-height: 38vw;
	}
	.red, .blue, .green , .top , .yellow {
		border-width:5px;
	}
	#colors {
		top: 50%;
	}
	#baseModal div div a, #baseModal div div #sizePreview, #preview {
		font-size: 8vw;
	}
}
@media print {
	#menu, .counter{
		display: none;
	}
	html, body{
		height: auto;
	}
	#ThreeJScontainer{
		width: auto;
	}
}