div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body{
	background: #E1F5FF;
	overflow:hidden;
}

#ThreeJScontainer {
	width: 90%;
	float: left;
	height: 100%;
}


/** -- PopUp -- **
---------------------------------------------------------------------- */	
#popUp{
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.75);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	height:100%;
}
.container{
	width: 90%;
	margin: auto auto;
	height: 100%;
}
#popup .button{
	width: 10%;
	margin-left: 2%;
	float: left;
}
#popup .container > *{
	
}

#settings_colors{
	margin-top: 15px;
	width: 90%;
	margin-left: 5%;
	text-align: center;
}
#settings_colors a{
	width: 50%;
	font-size: 32px;
	color: #000000;
	display: block;
	float: left;
	text-align: center;
}
.clear{
	clear: both;
}

.button{
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 64px;
	color: #000;
	text-decoration: none;
}


		/** -- Menu -- **
---------------------------------------------------------------------- */	

#menu{
	width: 10%;
	float: left;
	height: 100%;
}

.menuItem {
    width: 100%;
    padding-top: 100%;
    position: relative;
	display: block;
}

#splitMenu {
    width: 100%;
    padding-top: 50%;
}

.smallMenuItem {
    width: 50%;
    padding-top: 50%;
    position: absolute;
    top: 50%;
}

#cube, #erase, #base, #perspective, #settings, #colors {
    background-image: url('../img/Ikoner.png');
    background-size: 250%;
}

#cube {
    background-position: 4% 0;
}
#erase {
    background-position: 102% 0;
}
#base {
    background-position: 0% 198%;
    background-size: 220%;
}
#perspective {
    background-position: 3% 241%;
}
#settings {
    background-position: 93% 50%;
    background-size: 350%;
}
#colors {
    background-position: 93% 96%;
    background-size: 350%;
    left: 50%;
}


		/** -- Perspective (views)  + counter --**
---------------------------------------------------------------------- */	

.counter,
.frame {
	margin: 0;
	padding: 0;
	border:7px solid #FFF;
}

.counter {
	height: 5%;
}

.counter p,
.frame p {
	margin: 0 0 2px 2px;
}

.view {
	margin-top:40px;
	width:400px;
	height: 400px;
	color:#000;
	background:#c0c0c0;
}
.view .title {
	display:block;
	text-align:center;
	font-weight:900;
	height:40px;
	line-height:40px;
}
.view-container {
	height: 84%;
}


		/** -- Portrait mode -- **
---------------------------------------------------------------------- */	
@media (max-width: 750px) {
	#menu{
		width: 100%;
		height: auto;
	}

	#ThreeJScontainer {
		width: 100%;
	}

	.menuItem {
		width: 20%;
		padding-top: 20%;
		float: left;
	}

	#splitMenu {
		width: 10%;
		padding-top: 20%;
	}

	.smallMenuItem {
		height: 50%;
		padding-left:20%;
		padding-top: 20%;
		top: 0;
		width: 100%;
		padding: 0;
		left: 50%;
	}

	#colors {
		top: 50%;
	}
}