div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: #E1F5FF;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

a {
	text-decoration: none;
}

#ThreeJScontainer {
	width: 90%;
	float: left;
	height: 100%;
}

/** -- Modal -- **
 ---------------------------------------------------------------------- */
#popUp {
	display: block;
	position: absolute;
	background: rgba(0,0,0,0.75);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	height: 100%;
}

.container {
	width: 90%;
	margin: auto auto;
	height: 100%;
}

#popup {
	width: 10%;
	margin-left: 2%;
	float: left;
}

#popup .container > * {

}

#settings_colors {
	margin-top: 15px;
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

#settings_colors a {
	width: 50%;
	font-size: 32px;
	color: #000000;
	display: block;
	float: left;
	text-align: center;
}

.clear {
	clear: both;
}

.button {
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 64px;
	color: #000;
	text-decoration: none;
}

/** -- Menu -- **
 ---------------------------------------------------------------------- */

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 10%;
	float: left;
	height: 100%;
}

#menu a {
	display: block;
	width: 60px;
	width: 100%;
	padding-top: 100%;
	position: relative;
}

#cube, #erase, #base, #perspective, #settings, #colors {
	background-image: url('../img/Ikoner.png');
	background-size: 250%;
}

#cube {
	background-position: 4% 0;
}
#erase {
	background-position: 102% 0;
}
#base {
	background-position: 0% 198%;
	background-size: 220%;
}
#perspective {
	background-position: 3% 241%;
}
#settings {
	background-position: 93% 50%;
	background-size: 350%;
}
#colors {
	background-position: 93% 96%;
	background-size: 350%;
}

/** -- Counter -- **
 ---------------------------------------------------------------------- */

.counter {
	width: 150px;
	height: 40px;
	position: absolute;
	z-index: 5;
	top: 1em;
	right: 1em;
	font-weight: 900;
	font-size: 1em;
}

.counter p {
	margin: 0 0 2px 2px;
}

/** -- Perspective (views) -- **
 ---------------------------------------------------------------------- */

.frame {
	margin: 0;
	padding: 0;
	border: 7px solid #FFF;
}

.view {
	margin-top: 40px;
	width: 400px;
	height: 400px;
	color: #000;
	background: #c0c0c0;
	float: left;
	margin: 5px;
}
.view .title {
	display: block;
	text-align: center;
	font-weight: 900;
	height: 40px;
	line-height: 40px;
}
.view-container {
	height: 84%;
}

/** -- Portrait mode -- **
 ---------------------------------------------------------------------- */
@media (max-width: 750px) {
	#menu {
		width: 100%;
		height: auto;
	}

	#ThreeJScontainer {
		width: 100%;
	}

	.menuItem {
		width: 20%;
		padding-top: 20%;
		float: left;
	}
}

.button{
	display: block;
	text-align: center;
	margin-top: 15px;
	font-size: 64px;
	color: #000;
	text-decoration: none;
}
.modal{
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.5);
	border-left: 2px solid rgba(0,0,0,0.75);
	left: 10%;
	right: 0;
	top: 0;
	bottom: 0;
}

.hidden {
	visibility: hidden;
}

.open {
	display: block;
}

.modal .open{
	display: table;
}

.innerBox {
	position: absolute;
	text-transform: uppercase;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal > div {
	display: none;
	height: 100%;
	margin: auto auto;
	text-align: center;
}

#perspectiveModal, #settingsModal, #colorsModal, #editModal {
	display: table-cell;
	vertical-align: middle;
}

/* --- Edit not yet implemented completely  --- */
#editContainer {
	width: 90%;
}
#editModal > div {
	display: inline-block;
	position: relative;
	width: 40%;
	padding-top: 40%;
	margin: 1%;
}

#editModal > div:first-child a {
	background-color: #555;
	background-image: url('../img/Ikoner.png');
	background-position: 0% 198%;
	background-size: 220%;

	border: 10px solid #333;
	border-radius: 40px;
}
#editModal div div a, #editModal div div input {
	display: block;
	height: 27%;
	margin-bottom: 2%;

	background-color: #555;
	border: 2px solid #333;
	border-radius: 40px;

	color: white;
	font-size: 6vw;
}
/* --- Edit not yet implemented completely  --- */

#perspectiveContainer {
	width: 65%;
}

#perspectiveModal > div {
	display: inline-block;
	position: relative;

	width: 25%;
	margin: 1%;

	color: white;
	font-size: 2vw;

	background-color: #555;
	border: 10px solid #333;
	border-radius: 40px;
}

.canvasWrapper {
	width: 100%;
	padding-top: 100%;
}

#settingsContainer {
	width: 65%;
}

#settingsModal div {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	width: 40%;
	padding-top: 40%;
	margin: 2%;

	background-color: #555;
	border: 10px solid #333;
	border-radius: 40px;
}

#settingsModal div a {
	color: white;
	font-weight: bold;
	font-size: 4vw;
	line-height: 23vw;
}

#colorsContainer {
	width: 90%;
}

#colorsModal a {
	display:inline-block;
	width: 14%;
	padding-top: 14%;
	margin: 10px;
	border: 10px solid #333;
	border-radius: 15px;
}

@media (orientation: portrait) {
	#menu{
		width: 100%;
		height: auto;
	}

	#ThreeJScontainer {
		width: 100%;
	}

	.menuItem {
		float: left;
		width: 12%;
		padding-top: 12%;
	}

	#colors {
		top: 50%;
	}

	.modal {
		top: 15%;
		left: 0;
		border-left: none;
		border-top: 2px solid rgba(0,0,0,0.75);
	}

	#settingsContainer, #perspectiveContainer, #colorsContainer, #editContainer {
		width: 100%;
	}

	#settingsModal div a {
		line-height: 38px;
	}
}
